body {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #2e2f42;
  line-height: 1.5;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}
button,
.order-btn {
  cursor: pointer;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}
.link {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 2%;
}
.adress-link {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}
.hero {
  background: #2e2f42;
}
.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
.order-btn {
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  vertical-align: middle;
  color: white;
}
.feature-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
}
.feature-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
}
.team-card {
  background-color: white;
  width: 264px;
  height: 380px;
  padding-bottom: 32px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.team-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: center;
}
.team-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  color: #434455;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 2%;
  text-align: center;
}
.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
}
.portfolio-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #f4f4fd;
}
